<h1>Welcome to CSE Motors!</h1>
<Section id="hero">
    <img id="hero-img" src="/images/vehicles/delorean.jpg" alt="Delorean car">
    <div id="banner">
        <h2>DMC Delorean</h2>
        <br>3 Cup holders<br>Superman doors<br>Fuzzy dice!<br>
        <img src="/images/site/own_today.png" alt="Own today"/>
    </div>

</Section>

<dsection id="hero2">
    <div id="reviews-section1">
        <h2 id="reviews-title1">DMC Delorean Reviews</h2>
        <ul id="reviews">
            <li>"So fast its almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling Marty McFly" (5/5)</li>
            <li>"The most futurist ride of our day." (5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>

    <div id="reviews-section2">
        <h2 class="reviews-title2">Delorean Upgrades</h2>
        <div class="upgrades-container">
            <div class="upgrade">
                <div>
                    <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                </div>
                <a href="#">Flux Capacitator</a>
            </div>
            <div class="upgrade">
                <div>
                    <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
                </div>
                <a href="#">Flame Decals</a>
            </div>
            <div class="upgrade">
                <div>
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                </div>
                <a href="#">Bumper Stickers</a>
            </div>
            <div class="upgrade">
                <div>
                    <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
                </div>
                <a href="#">Hub Caps</a>
            </div>

            </div>
        </div>
    </div>      
</section>